@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.backbutton{
    width: 2%;
    margin-left: 2rem;
}

.rpslogo{
    width: 5%;
    margin-left: 2rem;
}

.page-title {
    margin-left: 2rem;
    font-size: 24px;
    font-family:"Roboto";
    font-weight: bold;
    text-decoration: none;
    color:#F9B23D;
    margin-bottom: 0;
}

.char-font {
    font-size: 24px;
    font-family:"Roboto";
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 0;
}

.game-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.player-side, .com-side {
    text-align: center;
}

.selection {
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #C4C4C4;
    border: none;
    margin: 2rem 0 0 0;
}

.gameimage {
    width: 70%;
    margin: 1rem 0 1rem 0;
    position: relative;
    z-index: 10;
    cursor: pointer;
    transition: 100ms;
}

.kertas{
    width: 50%;
}

.gameimage:hover {
    transform: scale(1.2);
}

.mid-announcement{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4C9654;
    border-radius: 4px;
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Roboto";
    padding:1rem;
    width: 10%;
    text-align: center;
    text-decoration: none;
    width: 125px;
    height: 75px;
    transform: rotate(-28.87deg);
}

.vs-font {
    font-size: 80px;
    font-family:"Roboto";
    font-weight: bolder;
    text-decoration: none;
    color: #BD0000;
    margin-bottom: 0;
    z-index: 4;
    position: absolute;
}

.player-win{
    z-index: 3;
    position: absolute;
}

.draw{
    background-color: #035B0C;
    z-index: 2;
    position: absolute;
}

.com-win{
    z-index: 1;
    position: absolute;
}